@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'EB Garamond';
    src: url('/fonts/EBGaramond-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'DM Serif Display';
    src: url('/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
}

body {
  @apply font-garamond;
  /*background-color: #f2d7ac;*/
  background-color: black;
}

h1 {
  @apply font-dmserifdisplay;
}
